# 根目录的配置文件，编辑器会由当前目录向上查找，如果找到 `roor = true` 的文件，则不再查找
root = true
# 匹配全部文件
[*]
# 设置字符集
charset = utf-8
# 结尾换行符，可选"lf"、"cr"、"crlf"
end_of_line = lf
# 在文件结尾插入新行
insert_final_newline = true
# 删除一行中的前后空格
trim_trailing_whitespace = true
# 缩进风格，可选"space"、"tab"
indent_style = space
# 缩进的空格数
indent_size = 2
# 单行最大长度
max_line_length = 100
# 大括号不另起一行
curly_bracket_next_line = false
# 运算符两遍都有空格
spaces_around_operators = true
# 条件语句格式是 1tbs
indent_brace_style = 1tbs

# 以下匹配，类同
[Makefile]
indent_style = tab
[*.{js,ts}]
# 字符串使用单引号
quote_type = single
[*.{json,vue}]
# 字符串使用双引号
quote_type = double
